In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv("test_data.csv",encoding='utf-8',sep = '\s+',error_bad_lines=False)
df.head()

b'Skipping line 59: expected 15 fields, saw 16\nSkipping line 112: expected 15 fields, saw 16\n'

,city,country,first_name,home_town,last_name,in_hse_memes_group,wall_repost_cnt,wall_like_mean,political_cat,subscriptions_cnt,instagram_dummy,skype_dummy,twitter_dummy,male_dummy,followers_cnt
0,Екатеринбург,Россия,Данил,Екатеринбург,Отдельнов,False,182.0,1.8814279643008924,14.0,0.0,1.0,0.0,1.0,110.0,NaN
1,Москва,Россия,Мария,Москва,Сметанина,True,0.0,0,0,0.0,0.0,32.0,NaN,NaN,NaN
2,Москва,Россия,Стёпа,Севагин,False,0.0,25.285714285714285,0.0,1,0.0,0.0,1.0,177.0,NaN,NaN
3,Москва,Россия,Иван,Чумачков,False,2.0,5.217391304347826,4.0,1,0.0,0.0,1.0,166.0,NaN,NaN
4,Москва,Россия,Anastasia,Biryukova,True,0.0,21.33333333333333,0.0,1,1.0,0.0,0.0,340.0,NaN,NaN